<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../static/dashboard-investor/Bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="../../static/dashboard-investor/Bootstrap/css/Dashboard-investor.css" />
  <link rel="stylesheet" href="../../static/dashboard-investor/Bootstrap/css/Startup_perfil-investor.css">

  <!--Font-Awsome-->

  <link rel="stylesheet" href="Bootstrap/css/all.css">

  <link href="/Bootstrap/css/fontawesome.css" rel="stylesheet">
  <link href="/Bootstrap/css/brands.css" rel="stylesheet">
  <link href="/Bootstrap/css/solid.css" rel="stylesheet">


  <script defer src="/your-path-to-fontawesome/js/brands.js"></script>
  <script defer src="/your-path-to-fontawesome/js/solid.js"></script>
  <script defer src="/your-path-to-fontawesome/js/fontawesome.js"></script>

  <title>StartupInvest | Dashboards</title>
</head>

<body class="d-flex flex-column">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="Bootstrap/img/Logo_StartupInvest.png" alt="StartupInvest" width="36" height="30"
            class="d-inline-block align-text-top" />
          StartupInvest
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav position-relative">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Planes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ">Startup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ">Administrador</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="portada">
      <div class="imagen-portada">
        <img src="../../static/images/general/fondo_kambista-standard-scale-2_00x-gigapixel.jpg" alt="">
      </div>

      <div class="imagen-logo">
        <img src="../../static/dashboard-investor/Bootstrap/img/kambista.png" alt="">
      </div>

      <div class="imagen-arrow">
        <a href="Dashboard-Investor.html">
          <img src="../../static/dashboard-investor/Bootstrap/img/arrow-back-3783.png" alt="">
        </a>
      </div>
    </div>

    <div class="box-ronda-inversion">


      <div class="parte-estado">
        <div class="name">
          <h3>Ronda</h3>
        </div>
        <div class="disponibilidad ">
          <div id="circle"></div>
          <h5>Disponible</h5>
        </div>
      </div>

      <div class="parte-informacion">
        <div class="cuadro">
          <div class="sector-fecha">
            <div class="texto">
              <p>Fecha de culminación</p>
            </div>
            <div class="fecha">
              <p>27.12.2021</p>
            </div>
          </div>

          <div class="box-sector-inversion">
            <div class="sector-inversion">
              <div class="texto-especificacion">
                <P>Objetivo</P>
              </div>
              <div class="cantidad-monetaria">
                <div class="cantidad-monetario-alcanzado">
                  <h3>$9,660.00</h3>
                </div>
                <div class="cantidad-monetario-objetivo">
                  <h3>$23,000.00</h3>
                </div>
              </div>
              <div class="barra-progreso">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 42%"
                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="numero-porcentaje">
                <h4>42%</h4>
              </div>
            </div>
          </div>

          <div class="descripcion-ronda">

            <div class="cantidad-inversores">
              <div class="texto">
                <h5>Cantidad de inversores</h5>
              </div>
              <div class="box-numero">
                <div class="numero">
                  <p>45</p>
                </div>
              </div>
            </div>

            <div class="tipo-inversion">
              <div class="texto">
                <h5>Tipo de inversión</h5>
              </div>
              <div class="box-texto">
                <div class="texto">
                  <p>Participación</p>
                </div>
              </div>
            </div>

            <div class="fecha-recompra">
              <div class="texto">
                <h5>Fecha de recompra</h5>
              </div>
              <div class="box-fecha">
                <div class="fecha">
                  <p>27.08.2022</p>
                </div>
              </div>
            </div>

          </div>

          <div class="sector-boton">
            <button type="button" data-toggle="modal" data-target=".modal-paso-1"
              class="btn btn-primary btn-lg btn-block sector-boton">¡Invierte ya!</button>
          </div>


          <!-- MODAL - PASO - 1 -->
          <div class="modal fade modal-paso-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="emergente-contenido">
                  <div class="seccion-superior">
                    <h3>Buena elección, Valeria Croice</h3>
                  </div>
                  <div class="seccion-medio">
                    <div class="descripcion-ventana">
                      <h5>Paso 1 - Registro de Datos</h5>
                    </div>


                    <fieldset>
                      <legend>Datos Personales</legend>
                      <div class="box-input">
                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>Nombre</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input" placeholder="Nombre"
                              aria-label="Username">
                          </div>
                        </div>

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>Apellidos</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input" placeholder="Apellido"
                              aria-label="Username">
                          </div>
                        </div>

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>D.N.I</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input" placeholder="DNI"
                              aria-label="Username">
                          </div>
                        </div>

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>Correo Electrónico</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input" placeholder="Correo Electrónico"
                              aria-label="Username">
                          </div>
                        </div>
                      </div>
                    </fieldset>

                    <fieldset>
                      <legend>Pago</legend>
                      <div class="box-input">
                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>Nombre de Startup</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input" placeholder="Nombre de Startup"
                              aria-label="Username">
                          </div>
                        </div>

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>Tipo de tarjeta</b></p>
                          </div>
                          <div class="box-input">
                            <select class="form-select size-sm-input" id="inputGroupSelect01">
                              <option selected>Escoge un tipo de tarjeta...</option>
                              <option value="1">Visa</option>
                              <option value="2">Mastercard</option>
                            </select>
                          </div>
                        </div>

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>Monto de inversión</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input" placeholder="Monto de inversión"
                              aria-label="Username">
                          </div>
                        </div>

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>Número de tarjeta</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input" placeholder="Número de tarjeta"
                              aria-label="Username">
                          </div>
                        </div>

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>CCV</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input" placeholder="CCV"
                              aria-label="Username">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- Boton para ir a modal 2 -->
                    <button type="button" data-toggle="modal" data-dismiss="modal" data-target=".modal-paso-2"
                      class="btn btn-primary ">Siguiente</button>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <!-- Modal - Paso - 2 -->
          <div class="modal fade modal-paso-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="emergente-contenido">
                  <div class="seccion-superior">
                    <h3>Buena elección, Valeria Croice</h3>
                  </div>
                  <div class="seccion-medio-2">
                    <div class="descripcion-ventana">
                      <h5>Paso 2 - Confirmación de Datos</h5>
                    </div>


                    <fieldset>
                      <legend>Resumen</legend>
                      <div class="box-input-2">

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>Nombre</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input-2" placeholder="Nombre"
                              aria-label="Username">
                          </div>
                        </div>

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>Apellidos</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input-2" placeholder="Apellido"
                              aria-label="Username">
                          </div>
                        </div>

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>Correo Electrónico</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input-2" placeholder="Correo electrónico"
                              aria-label="Username">
                          </div>
                        </div>

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>DNI</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input-2" placeholder="DNI"
                              aria-label="Username">
                          </div>
                        </div>

                        <div class="campo-input">
                          <div class="nombre">
                            <p><b>Monto de inversión</b></p>
                          </div>
                          <div class="box-input">
                            <input type="text" class="form-control size-sm-input-2" placeholder="Monto de inversión"
                              aria-label="Username">
                          </div>
                        </div>

                      </div>
                    </fieldset>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                       <p>Acepto los <a href="">Términos y Condiciones</a>  y la <a href="">Política de privacidad</a>  de Startups Invest</p> 
                      </label>
                    </div>

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".modal-paso-1" data-dismiss="modal">Atrás</button>

                    <button type="button" data-toggle="modal" data-dismiss="modal" data-target="#modal-confirmacion"
                      class="btn btn-primary ">Confirmar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="modal-confirmacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Inversión Realizada</h5>
                </div>
                <div class="modal-body">
                  <h5>Muchas gracias, Claudia Rodriguez</h5> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="box-sector-descripcion">
      <div class="sector-descripcion">
        <div class="titulo">
          <h2>Descripción de la Startup</h2>
        </div>
        <div class="descripcion-startup">
          <p>Kambista es la primera casa de cambio digital de Perú. creada en 2016, desde hace muchos años, cambiar
            dólares ha sido una necesidad cotidiana en el Perú. Sin embargo, no hace mucho, el mercado de divisas en el
            país se encontraba limitado por una escasez de alternativas y facilidades para una alta demanda de clientes.
            Este gran número de clientes tenía únicamente dos opciones: Por un lado, cambiar sus dólares en casas de
            cambio físicas y tradicionales y con cambistas de la calle, en donde las operaciones se realizan en efectivo
            arriesgando la seguridad de los clientes, pero con el beneficio de acceder a un precio más bajo y por otro
            lado las entidades financieras, en donde las operaciones se pueden realizar con mayor facilidad y seguridad,
            pero pagando una tasa más elevada. </p>
        </div>
      </div>
    </div>

    <div class="box-sector-novedades">
      <div class="sector-novedades">
        <div class="titulo">
          <h2>Novedades de Kambista</h2>
        </div>
        <div class="box-novedades">

          <div class="list-card-startup">
            <div class="img-list-card-startup">
              <img src="../../static/dashboard-investor/Bootstrap/img/kambista.png" />
            </div>
            <div class="card-body-startup">
              <h6 class="card-title">Usuarios podrán cambiar dinero y crear una cuenta bancaria 100% digital desde
                Kambista</h6>
              <p class="card-body">Interbank y Kambista firman alianza estratégica para seguir reforzando los servicios
                financieros...</p>
              <div class="boton-card">
                <a href="https://kambista.com/noticias/usuarios-podran-cambiar-dinero-y-crear-una-cuenta-bancaria-100-digital-desde-kambista/"
                  class="btn " style="width: 100%;">¡Ir a la noticia!</a>
              </div>
            </div>
          </div>         
        </div>
      </div>
    </div>

  </main>

  <footer>

  </footer>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script src="Bootstrap/js/bootstrap.min.js"></script>

</body>


</html>