<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	th:href="@{/dashboard-investor/Bootstrap/css/bootstrap.css}" />
<link
	th:href="@{/dashboard-investor/Bootstrap/img/Logo_StartupInvest.png}"
	rel="icon">
<link rel="stylesheet"
	th:href="@{/dashboard-investor/Bootstrap/css/Dashboard-investor.css}" />
<link rel="stylesheet" th:href="@{/css/Startup_perfil-investor.css}">

<!--Font-Awsome-->

<link rel="stylesheet"
	th:href="@{/dashboard-investor/Bootstrap/css/all.css}">

<link th:href="@{/dashboard-investor/Bootstrap/css/fontawesome.css}"
	rel="stylesheet">
<link th:href="@{/dashboard-investor/Bootstrap/css/brands.css}"
	rel="stylesheet">
<link th:href="@{/dashboard-investor/Bootstrap/css/solid.css}"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css}" />

<script defer th:src="@{/your-path-to-fontawesome/js/brands.js}"></script>
<script defer th:src="@{/your-path-to-fontawesome/js/solid.js}"></script>
<script defer th:src="@{/your-path-to-fontawesome/js/fontawesome.js}"></script>

<title>StartupInvest | Dashboards</title>
</head>

<body class="d-flex flex-column">
	<header th:replace="layout/layout :: frag-header"> </header>

	<main>
		<div class="portada">
			<div class="imagen-portada">
				<img th:src="@{/images/general/portada.jpg}" alt="">
			</div>

			<div class="imagen-logo">
				<img th:src="@{'/images/startups/'+${imgname}}" alt="">
			</div>

			<div class="imagen-arrow">
				<a th:href="@{/startupinvest/home}"> <img
					th:src="@{/dashboard-investor/Bootstrap/img/arrow-back-3783.png}"
					alt="">
				</a>
			</div>
		</div>
		<input th:value="${id}" hidden="true" id="idInvestor">
		<div class="box-ronda-inversion"
			th:each="investmentRequest:${investmentRequests}">

			<input th:value="${investmentRequest.id}" hidden="true"
				id="investmentRequestId">

			<div class="parte-estado">
				<div class="name">
					<h3>Ronda</h3>
				</div>
				<div class="disponibilidad ">
					<div id="circle"></div>
					<h5>Disponible</h5>
				</div>
			</div>

			<div class="parte-informacion">
				<div class="cuadro">
					<div class="sector-fecha">
						<div class="texto">
							<p>Fecha de culminación</p>
						</div>
						<div class="fecha">
							<p th:text="${investmentRequest.expirationDate}">27.12.2021</p>
						</div>
					</div>

					<div class="box-sector-inversion"
						th:with="aux=((${investmentRequest.amountColected}/${investmentRequest.amount})*100)">
						<div class="sector-inversion">
							<div class="texto-especificacion">
								<P>Objetivo</P>
							</div>
							<div class="cantidad-monetaria">
								<div class="cantidad-monetario-alcanzado">
									<h3
										th:text="${'$'+#numbers.formatDecimal(investmentRequest.amountColected, 1, 'COMMA', 2, 'POINT')}">$9,660.00</h3>
								</div>
								<div class="cantidad-monetario-objetivo">
									<h3
										th:text="${'$'+#numbers.formatDecimal(investmentRequest.amount, 1, 'COMMA', 2, 'POINT')}">$23,000.00</h3>
								</div>
							</div>
							<div class="barra-progreso">
								<div class="progress">
									<div
										class="progress-bar progress-bar-striped progress-bar-animated"
										role="progressbar"
										th:style="'width:'+${#numbers.formatDecimal(aux, 1, 'COMMA', 2, 'POINT')} +'%'"
										aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
							<div class="numero-porcentaje">
								<h4
									th:text="${#numbers.formatDecimal(aux, 1, 'COMMA', 2, 'POINT')+'%'}">42%</h4>
							</div>
						</div>
					</div>

					<div class="descripcion-ronda">

						<div class="cantidad-inversores">
							<div class="texto">
								<h5>Cantidad de inversores</h5>
							</div>
							<div class="box-numero">
								<div class="numero">
									<p th:text="${investmentRequest.quantityInvestors}">45</p>
								</div>
							</div>
						</div>

						<div class="tipo-inversion">
							<div class="texto">
								<h5>Tipo de inversión</h5>
							</div>
							<div class="box-texto">
								<div class="texto">
									<p th:text="${investmentRequest.typeInvestment.name}">Participación</p>
								</div>
							</div>
						</div>

						<div class="fecha-recompra">
							<div class="texto">
								<h5>Fecha de recompra</h5>
							</div>
							<div class="box-fecha">
								<div class="fecha">
									<p th:text="${investmentRequest.returnDate}">27.08.2022</p>
								</div>
							</div>
						</div>

					</div>

					<div class="sector-boton">
						<button th:if="${investmentRequest.amountColected<investmentRequest.amount}" type="button" data-toggle="modal"
							data-target=".modal-paso-1"
							class="btn btn-primary btn-lg btn-block sector-boton">¡Invierte
							ya!</button>
							
							<button th:unless="${investmentRequest.amountColected<investmentRequest.amount}" type="button" data-toggle="modal"							
							class="btn btn-primary btn-lg btn-block sector-boton">¡Ronda completada	!</button>
					</div>


					<!-- MODAL - PASO - 1 -->
					<div class="modal fade modal-paso-1" tabindex="-1" role="dialog"
						aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="emergente-contenido">
									<div class="seccion-superior">
										<h3 th:text="'Buena elección, '+${name}+' '+${lastName}"></h3>
									</div>
									<div class="seccion-medio">
										<div class="descripcion-ventana">
											<h5>Paso 1 - Registro de Datos</h5>
										</div>


										<fieldset>
											<legend>Datos Personales</legend>
											<div class="box-input">
												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>Nombre</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input"
															placeholder="Nombre" id="nameInvestor" th:value="${name}"
															disabled aria-label="Username">
													</div>
												</div>

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>Apellidos</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input"
															placeholder="Apellido" id="lastNameInvestor"
															th:value="${lastName}" disabled aria-label="Username">
													</div>
												</div>

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>D.N.I</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input"
															placeholder="DNI" id="dniInvestor" th:value="${dni}"
															aria-label="Username" disabled>
													</div>
												</div>

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>Correo Electrónico</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input"
															placeholder="Correo Electrónico" th:value="${email}"
															disabled id="emailInvestor" aria-label="Username">
													</div>
												</div>
											</div>
										</fieldset>

										<fieldset th:object="${startup}">
											<legend>Pago</legend>
											<div class="box-input">
												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>Nombre de Startup</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input"
															placeholder="Nombre de Startup"
															th:value="${startup.name}" disabled aria-label="Username">
													</div>
												</div>

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>Tipo de tarjeta</b>
														</p>
													</div>
													<div class="box-input">
														<select class="form-select size-sm-input" id="typeCardId">
															<option selected>Escoge un tipo de tarjeta...</option>
															<option th:each="card:${cards}" th:value="${card.id}"
																th:text=${card.name}></option>

														</select>
													</div>
												</div>

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>Monto de inversión</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input"
															placeholder="Monto de inversión" id="amountInvested"
															aria-label="Username">
													</div>
												</div>

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>Número de tarjeta</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input"
															placeholder="Número de tarjeta" aria-label="Username">
													</div>
												</div>

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>CCV</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input"
															placeholder="CCV" aria-label="Username">
													</div>
												</div>
											</div>
										</fieldset>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<!-- Boton para ir a modal 2 -->
										<button type="button" data-toggle="modal" data-dismiss="modal"
											data-target=".modal-paso-2" id="submit"
											class="btn btn-primary">Siguiente</button>
									</div>
								</div>
							</div>
						</div>
					</div>



					<!-- Modal - Paso - 2 -->
					<div class="modal fade modal-paso-2" tabindex="-1" role="dialog"
						aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="emergente-contenido">
									<div class="seccion-superior">
										<h3>Buena elección, Valeria Croice</h3>
									</div>
									<div class="seccion-medio-2">
										<div class="descripcion-ventana">
											<h5>Paso 2 - Confirmación de Datos</h5>
										</div>


										<fieldset>
											<legend>Resumen</legend>
											<div class="box-input-2">

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>Nombre</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input-2"
															placeholder="Nombre" id="nameInvestorShow"
															aria-label="Username" disabled>
													</div>
												</div>

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>Apellidos</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input-2"
															placeholder="Apellido" id="lastNameInvestorShow"
															aria-label="Username" disabled>
													</div>
												</div>

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>Correo Electrónico</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input-2"
															placeholder="Correo electrónico" id="emailInvestorShow"
															aria-label="Username" disabled>
													</div>
												</div>

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>DNI</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input-2"
															placeholder="DNI" aria-label="Username"
															id="dniInvestorShow" disabled>
													</div>
												</div>

												<div class="campo-input">
													<div class="nombre">
														<p>
															<b>Monto de inversión</b>
														</p>
													</div>
													<div class="box-input">
														<input type="text" class="form-control size-sm-input-2"
															placeholder="Monto de inversión" id="amountInvestedShow"
															aria-label="Username" disabled>
													</div>
												</div>

											</div>
										</fieldset>

										<div class="form-check">
											<input class="form-check-input" type="checkbox" value=""
												id="defaultCheck1"> <label class="form-check-label"
												for="defaultCheck1">
												<p>
													Acepto los <a href="">Términos y Condiciones</a> y la <a
														href="">Política de privacidad</a> de Startups Invest
												</p>
											</label>
										</div>

									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-toggle="modal" data-target=".modal-paso-1"
											data-dismiss="modal">Atrás</button>

										<button type="button" data-toggle="modal" data-dismiss="modal"
											data-target="#modal-confirmacion" class="btn btn-primary"
											id="confirmCreate">Confirmar</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="modal-confirmacion" tabindex="-1"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Inversión
										Realizada</h5>
								</div>
								<div class="modal-body">
									<h5>Muchas gracias, Claudia Rodriguez</h5>
								</div>
								<div class="modal-footer">
									<form
										th:action="@{/startupinvest/investorsHistory/newInvestorHistory}"
										th:object="${investorHistory}" method="post">
										<div class="form-group" hidden="true">
											<label for="exampleFormControlInput1">Monto</label> <input
												type="number" class="form-control" id="amountCreate"
												placeholder="name@example.com" th:field="*{amount}">

											<label for="exampleFormControlInput1">investment
												request id</label> <input type="number" class="form-control"
												th:field="*{investmentRequest}"
												id="investmentRequestIdCreate"
												placeholder="name@example.com"> <label
												for="exampleFormControlInput1">investor id</label> <input
												type="number" class="form-control" th:field="*{investor}"
												id="investorIdCreate" placeholder="name@example.com">
											<label for="exampleFormControlInput1">id tipo tarjeta</label>
											<input type="number" class="form-control"
												th:field="*{typeCard}" id="typeCardIdCreate"
												placeholder="name@example.com">
										</div>

										<button type="submit" class="btn btn-primary">Close</button>

									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="box-sector-descripcion">
			<div class="sector-descripcion">
				<div class="titulo">
					<h2>Descripción de la Startup</h2>
				</div>
				<div class="descripcion-startup">
					<p th:text="${description}">Kambista es la primera casa de
						cambio digital de Perú. creada en 2016, desde hace muchos años,
						cambiar dólares ha sido una necesidad cotidiana en el Perú. Sin
						embargo, no hace mucho, el mercado de divisas en el país se
						encontraba limitado por una escasez de alternativas y facilidades
						para una alta demanda de clientes. Este gran número de clientes
						tenía únicamente dos opciones: Por un lado, cambiar sus dólares en
						casas de cambio físicas y tradicionales y con cambistas de la
						calle, en donde las operaciones se realizan en efectivo
						arriesgando la seguridad de los clientes, pero con el beneficio de
						acceder a un precio más bajo y por otro lado las entidades
						financieras, en donde las operaciones se pueden realizar con mayor
						facilidad y seguridad, pero pagando una tasa más elevada.</p>
				</div>
			</div>
		</div>

		<div class="box-sector-novedades">
			<div class="sector-novedades">
				<div class="titulo">
					<h2>Novedades de Kambista</h2>
				</div>
				<div class="box-novedades">

					<div class="list-card-startup">
						<div class="img-list-card-startup">
							<img
								src="../../static/dashboard-investor/Bootstrap/img/kambista.png" />
						</div>
						<div class="card-body-startup">
							<h6 class="card-title">Usuarios podrán cambiar dinero y
								crear una cuenta bancaria 100% digital desde Kambista</h6>
							<p class="card-body">Interbank y Kambista firman alianza
								estratégica para seguir reforzando los servicios financieros...</p>
							<div class="boton-card">
								<a
									href="https://kambista.com/noticias/usuarios-podran-cambiar-dinero-y-crear-una-cuenta-bancaria-100-digital-desde-kambista/"
									class="btn " style="width: 100%;">¡Ir a la noticia!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>

	<footer> </footer>


	<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>


	<script type="text/javascript"
		th:src="@{https://cdn.jsdelivr.net/jquery/latest/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{https://cdn.jsdelivr.net/momentjs/latest/moment.min.js}"></script>
	<script type="text/javascript"
		th:src="@{https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js}"></script>

	<script th:src="@{/dashboard-investor/Bootstrap/js/bootstrap.min.js}"></script>

	<script type="text/javascript">
$("#submit").click(function(e){
    /*evita la recarga de la pagina*/ 
    e.preventDefault();

    var nameInvestor = $("#nameInvestor").val();
    $("#nameInvestorShow").val(nameInvestor);

    var lastNameInvestor = $("#lastNameInvestor").val();
    $("#lastNameInvestorShow").val(lastNameInvestor);

    var emailInvestor = $("#emailInvestor").val();
    $("#emailInvestorShow").val(emailInvestor);

    var emailInvestor = $("#dniInvestor").val();
    $("#dniInvestorShow").val(emailInvestor);

    var amountInvested = $("#amountInvested").val();
    $("#amountInvestedShow").val(amountInvested);
    amountInvested
});

$("#submit").click(function(e){
    /*evita la recarga de la pagina*/ 
    e.preventDefault();


    var amountInvested = $("#amountInvested").val();
    $("#amountCreate").val(amountInvested);

  var typeCardId = $("#typeCardId").val();
   $("#typeCardIdCreate").val(typeCardId);
    
    var investmentRequestId = $("#investmentRequestId").val();
    $("#investmentRequestIdCreate").val(investmentRequestId);
    
    var idInvestor = $("#idInvestor").val();
    $("#investorIdCreate").val(idInvestor);
});

function sendCardId(id){
	$("#typeCardIdCreate").val(id);

}

</script>

</body>


</html>