<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: frag-head">
<meta charset="UTF-8" />

<link rel="stylesheet"
	th:href="@{/css/startup.css}" />

</head>

<body class="d-flex flex-column">
	<header th:replace="layout/layout :: frag-header"> </header>

	<!--CONTENIDO-->
	<main>
		<div class="main-container">

			<div id="img-portada">
				<img th:src="@{'/images/general/portada'}" ></img>
			</div>

			<div id="img-comeback">

				<button type="button" class="btn btn-secondary">Regresar</button>
				<img ></img>
			</div>


			<div id="box-information">
				<div id="first-row">
					<label>Ronda</label>
					<div id="box-invierte-ya">
						<label>¡Invierte ya!</label>
						<div id="circle"></div>
					</div>
				</div>

				<div id="min-big-box">

					<div id="date">
						<label>Fecha de culminación</label> <label></label>
					</div>
					<div id="box-objective">
						<label>Objetivo</label>
						<div id="amounths">
							<label>price-actual</label> <label>price-objective</label>
						</div>
						<div class="progress">
							<div id="bar" class="progress-bar progress-bar-striped active"
								role="progressbar" aria-valuenow="0" aria-valuemin="0"
								aria-valuemax="100" style="width: 0%">
								<span class="sr-only">0% Complete</span>
							</div>
						</div>

					</div>

					<div id="box-quantity-type-date">
					<div class="columns"></div>
					<div class="columns"></div>
					<div class="columns"></div>
					</div>
				<button type="button" class="btn btn-secondary">¡Invierte ya!</button>
				
					
				</div>


			</div>





		</div>

	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>



</body>

</html>