<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name='viewport'
	content='width=device-width, initial-scale=1.0, user-scalable=0'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta
	content="Hogo– Creative Admin Multipurpose Responsive Bootstrap4 Dashboard HTML Template"
	name="description">
<meta content="Spruko Technologies Private Limited" name="author">
<meta name="keywords"
	content="html admin template, bootstrap admin template premium, premium responsive admin template, admin dashboard template bootstrap, bootstrap simple admin template premium, web admin template, bootstrap admin template, premium admin template html5, best bootstrap admin template, premium admin panel template, admin template" />

<link
	th:href="@{/dashboard-investor/Bootstrap/img/Logo_StartupInvest.png}"
	rel="icon">

<link th:href="@{/assets/plugins/notify/css/notifIt.css}"
	rel="stylesheet">
<head th:replace="layout/layoutHongo :: frag-head-hongo">

</head>


<head>
<link th:href="@{/css/choose-user.css}" rel="stylesheet">
</head>
<body class="app sidebar-mini rtl">

	<!--Global-Loader-->
	<div id="global-loader">
		<img th:src="@{/assets/images/icons/loader.svg}" alt="loader">
	</div>

	<div class="page" style="height: 100vh;">
		<div class="page-main"
			style="display: flex; justify-content: center; background-image: url(https://images.alphacoders.com/463/thumb-1920-463798.jpg);">
			<!--app-header-->

			<div
				style="display: flex; justify-content: space-between; width: 70%; padding-top: 7rem;">

				<div class="col-md-12 col-xl-6 col-lg-4">
					<div class="card" id="register-startup" th:onclick="|window.location.href ='/startupinvest/register/startup'|"
						style="height: 29rem; opacity: 99%; transition: 0.5s; cursor: pointer; transition: transform 0.4s ease-in-out; box-shadow: 5px 5px 15px aqua;">
						<div class="card-header"
							style="border-right: 2px solid #1753fc; border-top: 2px solid #1753fc;">
							<h3 class="card-title ">Startup</h3>
							<div class="card-options"></div>
						</div>
						<div class="card-body text-center"
							style="background-image: url(https://as2.ftcdn.net/v2/jpg/02/49/62/47/1000_F_249624792_BiZIxdHasOUOg85Q8fLtvoNE2gREbH4d.jpg);">
							<span class="avatar avatar-xxl brround cover-image"
								data-image-src="../assets/images/users/male/18.jpg"></span>
							<h4 class="h4 mb-0 mt-3"></h4>
							<p class="card-text"></p>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-xl-6 col-lg-4">
					<div class="card " id="register-investor" th:onclick="|window.location.href ='/startupinvest/register/investor'|"
						style="height: 29rem; opacity: 99%; transition: 0.5s; cursor: pointer; transition: transform 0.4s ease-in-out; box-shadow: 5px 5px 15px aqua;">
						<div class="card-header"
							style="border-right: 2px solid #1753fc; border-top: 2px solid #1753fc;">
							<h3 class="card-title">Inversionista</h3>
							<div class="card-options"></div>
						</div>
						<div class="card-body text-center"
							style="background-image: url(https://image.freepik.com/foto-gratis/joven-empresario-exitoso-ropa-formal-mostrando-pulgar-arriba-gesto_171337-9526.jpg);">
							<span class="avatar avatar-xxl brround cover-image"
								data-image-src="../assets/images/users/female/18.jpg"></span>
							<h4 class="h4 mb-0 mt-3"></h4>
							<p class="card-text"></p>
						</div>
					</div>
				</div>

			</div>

		</div>


	</div>


	<footer th:replace="layout/layoutHongo :: frag-footer-hongo">
	</footer>





</body>
</html>
