.boton-card {
	padding-bottom: 1.3rem;
	padding-top: 1.3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.boton-card #button-footer {
	width: 7rem;
	border-radius: 4rem;
}

#title {
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
}

#box-button-add {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#button-add-category {
	border-radius: 1rem;
	width: 16rem;
	padding: 0.6rem 2rem 0.6rem 2rem;
	text-align: center;
	color: white;
	font-size: 1.3rem;
	font-weight: bolder;
}

.list-startups {
	padding-top: 5rem;
}

#img-categories {
	width: 302px;
	height: 175px;
	background-image: url(/images/administrator/ImagenCategories.png);
	display: flex;
	justify-content: center;
}

#circle {
	background-color: #3ABC37;
	align-self: center;
	border-radius: 100px;
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
}

.modal-header {
	height: 100%;
	justify-content: initial;
}

.modal-footer {
	padding: 0 4rem 1rem 4rem;
	justify-content: space-between;
}

#button-footer-left {
	width: 7rem;
	border-radius: 4rem;
	border: transparent;
}

#button-footer-right {
	width: 7rem;
	border-radius: 4rem;
	border: transparent;
}

.modal-body p {
	font-size: 1.1 rem;
	font-weight: 600;
}

.list-startups img {
	height: 175px;
}

.btn-secondary{
	transition:0.5s;
	box-shadow: 0.5px 5px 15px rgb(0 0 0/ 25%);
}

.btn-secondary:hover{
	transition:0.5s;
	transform:scale(1.1);
	box-shadow: 0.5px 5px 15px rgb(0 0 0/ 45%);
}
