<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http:/www.thymeleaf.org"
	xmlns:sec="http:/www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name='viewport'
	content='width=device-width, initial-scale=1.0, user-scalable=0'>
<meta
	content=""
	name="description">
<meta content="Spruko Technologies Private Limited" name="author">
<meta name="keywords"
	content="html admin template, bootstrap admin template premium, premium responsive admin template, admin dashboard template bootstrap, bootstrap simple admin template premium, web admin template, bootstrap admin template, premium admin template html5, best bootstrap admin template, premium admin panel template, admin template" />

<link th:href="@{/assets/plugins/notify/css/notifIt.css}" rel="stylesheet">
</head>


<head th:replace="layout/layout :: frag-head">
<body class="app sidebar-mini rtl">
	<header th:replace="layout/layout :: frag-header"> </header>
	<!--CONTENIDO-->
	<main th:object="${investor}" >
		<div th:object="${user}" class=" main-container">
			<div th:replace="layout/layout :: frag-left-bar"></div>
			<!-- row -->
			<div class="right-section" 
				style="padding-top: 0px; margin-top: 3rem; justify-content: center; align-content: center; align-items: center;width: 100%;">
				<!-- row -->
				<div class="row"
					style="flex-wrap: wrap; margin-right: -0.75 rem; margin-left: -0.75 rem; padding-top: 2rem; align-items: center; display: flex; justify-content: center;">
					<div
						style="position: relative; width: 100%; min-height: 1 px; padding-right: 0.75 rem; padding-left: 0.75 rem;"
						class="col-lg-12 col-xl-4 col-md-12 col-sm-12">
						<div class="card"
							style="box-shadow: 0 0 30px 0 rgb(115 77 191/ 20%); background-clip: border-box; background-color: #fff; word-wrap: break-word; min-width: 0; flex-direction: column; display: flex; position: relative; border-radius: 7 px; width: 100%; margin-bottom: 1.5 rem;">
							<div class="card-header"
								style="background: none; padding: 0.5rem 1.5rem; display: flex; min-height: 3.5 rem; align-items: center; border-top-left-radius: 7 px !important; border-top-right-radius: 7 px !important; border-left: 2px solid aqua; border-bottom: 1 px solid rgba(107, 122, 144, 0.1);">
								<h3 class="card-title"
									style="margin-bottom: 0; font-size: 1.185rem; line-height: 1.2; font-weight: 500; font-family: 'Poppins', sans-serif, bold; color: inherit;">My
									Profile</h3>
								<div class="card-options"
									style="margin-left: auto; display: flex; order: 100; margin-right: -0.5 rem; color: #cbd2dc; align-self: center; box-sizing: border-box; word-wrap: break-word;">
									<a th:href="@{/startupinvest/investors/perfil}"
										class="btn btn-primary btn-sm"><i class="si si-eye mr-1"></i>View
										Profile</a>
								</div>
							</div>
							<div class="card-body"
								style="flex: 1 1 auto; margin: 0; padding: 1.5 rem 1.5 rem; position: relative; box-sizing: border-box; display: block; word-wrap: break-word;">
								<div class="text-center"
									style="text-align: center !important; display: block; word-wrap: break-word;">
									<div class="userprofile"
										style="width: 100%; float: left; clear: both; box-sizing: border-box; display: block; text-align: center !important;">
										<div class="userpic  brround"
											style="height: 100px; width: 100px; clear: both; margin: 0 auto; display: block; border-radius: 100%; -webkit-box-shadow: 0px 3px 10px 0 rgb(0 0 0/ 15%); position: relative; box-sizing: border-box; text-align: center !important; word-wrap: break-word;">
											<img
												style="width: 100%; height: auto; border-radius: 100%; max-width: 100%; vertical-align: middle; border-style: none; box-sizing: border-box;"
												th:src="@{/dashboard-investor/Bootstrap/img/testimonial-2.jpg}"
												alt="" class="userpicimg">
										</div>
										<h3
											style="font-weight: 400; font-size: 20px; line-height: 20px; color: #535254; margin-top: 18 px; white-space: nowrap; overflow: hidden; margin-bottom: 0.5 rem !important;"
											class="username mb-2" th:text="${nombres}+' '+${apellidos}">Alison</h3>

										<div class="text-center mb-4"
											style="text-align: center !important; margin-bottom: 1 rem !important;">
											<span><i class="fa fa-star text-warning"></i></span> <span><i
												class="fa fa-star text-warning"></i></span> <span><i
												class="fa fa-star text-warning"></i></span> <span><i
												class="fa fa-star-half-o text-warning"></i></span> <span><i
												class="fa fa-star-o text-warning"></i></span>
										</div>

									</div>
								</div>
							</div>
							<div class="card-footer"
								style="border-radius: 0 0 calc(3px - 1px) calc(3px - 1px); padding: 1rem 1.5rem; background: none; box-sizing: border-box; display: block;">
								<ul class="row text-center clearfix mb-0"
									style="text-align: center !important; margin-bottom: 0 !important; flex-wrap: wrap; margin-right: -0.75rem; margin-left: -0.75rem; list-style-type: none; padding: 0 px; margin: 0 px;">
									<li class="col-sm-4"><span th:text="${totalAmountInvested}"
										class="text-dark font-weight-bold"
										style="color: #2e384d !important; font-weight: 700 !important; box-sizing: border-box; text-align: -webkit-match-parent;">1,345</span>
										<p class="text-muted mb-0"
											style="color: #cbd2dc !important; margin-bottom: 0 !important; box-sizing: border-box;">
											<small>Total de dinero invertido</small>
										</p></li>
									<li class="col-sm-4"><span th:text="${totalTimesInvested}"
										class="text-dark font-weight-bold"
										style="color: #2e384d !important; font-weight: 700 !important; box-sizing: border-box; text-align: -webkit-match-parent;">23,456</span>
										<p class="text-muted mb-0"
											style="color: #cbd2dc !important; margin-bottom: 0 !important; box-sizing: border-box;">
											<small>Número de inversiones</small>
										</p></li> 
									<li class="col-sm-4"><span 
										class="text-dark font-weight-bold"
										style="color: #2e384d !important; font-weight: 700 !important; box-sizing: border-box; text-align: -webkit-match-parent;" th:text="${totalAmountToReclaim}">52,678</span>
										<p class="text-muted mb-0"
											style="color: #cbd2dc !important; margin-bottom: 0 !important; box-sizing: border-box;">
											<small>Mi cartera</small>
										</p></li>
								</ul>
							</div>
						</div>

					</div>
					<div class="col-lg-12 col-xl-8 col-md-12 col-sm-12"
						style="padding-top: 4rem;">
						<form class="card" id="saveEditProfile" th:action="@{/startupinvest/investors/perfil/saveEdit}" th:object="${saveEditProfile}"
							style="position: relative; display: flex; flex-direction: column; min-width: 0; word-wrap: break-word; background-color: #fff; background-clip: border-box; box-shadow: 0 0 30px 0 rgb(115 77 191/ 20%); border-radius: 7 px; border: 0; margin-bottom: 1.5 rem; width: 100%;">
							<div class="card-header"
								style="background: none; padding: 0.5 rem 1.5 rem; display: flex; min-height: 3.5 rem; align-items: center; border-top-left-radius: 7 px !important; border-top-right-radius: 7 px !important; border-left: 2px solid aqua; border-bottom: 1 px solid rgba(107, 122, 144, 0.1); margin-bottom: 0; box-sizing: border-box; word-wrap: break-word;">
								<h3 class="card-title"
									style="font-size: 1.185rem; line-height: 1.2; font-weight: 500; font-family: 'Poppins', sans-serif, bold;">Edit
									Profile</h3>
							</div>
							<div class="card-body">
								<div class="form-group">
									<label for="exampleInputEmail1">Username</label> <input th:value="${user.username}" 
										type="email" class="form-control" id="usernameSend" th:name="username" style="border-right: 1px solid silver;"
										placeholder="email address">
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-12">
										<div class="form-group">
											<label for="exampleInputname">Nombres</label> <input  th:value="${investor.name}" id="nombresSend" th:name="name"
												type="text" class="form-control"  style="border-right: 1px solid silver;" 
												placeholder="First Name">
										</div>
									</div>
									<div class="col-lg-6 col-md-12">
										<div class="form-group">
											<label for="exampleInputname1">Apellidos</label> <input th:value="${investor.lastName}" id="apellidosSend" th:name="lastName"
												type="text" class="form-control"  style="border-right: 1px solid silver;"
												placeholder="Enter Last Name">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Correo</label> <input th:value="${investor.email}" id="correoSend" th:name="email"
										type="email" class="form-control"  style="border-right: 1px solid silver;"
										placeholder="email address">
								</div>


								<div class="form-group mb-0 mt-5">
									<div class="row">
										<div class="col-xl-6 col-lg-12 col-md-12 userprofile">
											<div class="userpic mb-2"
												style="height: 100px; width: 100px; clear: both; margin: 0 auto; display: block; border-radius: 100%; position: relative; margin-bottom: 0.5 rem !important;">
												<img style="height: auto; width: 100%; border-radius: 100%;"
													th:src="@{/dashboard-investor/Bootstrap/img/testimonial-2.jpg}"
													alt="" class="userpicimg">
											</div>

										</div>
										<div class="col-xl-6 col-lg-12 col-md-12">
											
											<div class="form-group">
												<label>Nueva contraseña</label> <input type="password" id="newPasswordSend" th:name="password"
													class="form-control"  style="border-right: 1px solid silver;">
											</div>
											<div class="form-group mb-0">
												<label>Confirmar nueva contraseña</label> <input type="password" id="confirmNewPasswordSend"
													class="form-control" style="border-right: 1px solid silver;" >
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer text-right">
								<a  class="btn btn-success mt-1"  th:onclick="'javascript:confirmEditProfile();'" style="background-color: aqua;color:black;font-weight: bolder; " >Save</a> 
							</div>
						</form>
					</div>
				</div>
				<!-- row end -->
				<!-- row end -->
			</div>
		</div>
		
		<div class="modal fade" id="editarPerfil" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="false">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<img
								src="/dashboard-investor/Bootstrap/img/Logo_StartupInvest.png"
								alt="StartupInvest" width="36" height="30"
								class="d-inline-block align-text-top" style="height: 100%;">
							<h5 class="modal-title" id="exampleModalLabel">Startup
								Invest</h5>

						</div>
						<div class="modal-body">
							
							<h3 style="font-size: 1.5rem;">¿Seguro que quieres guardar los cambios?</h3>
							
						</div>
						<div class="modal-footer">
							<a class="btn btn-lg btn-primary btn-block"
								style="background-color: #DC3545;" data-dismiss="modal" >No</a> <a
								class="btn btn-lg btn-primary btn-block" 
								style="background-color: #28A745;" th:onclick="sendEditProfile()"
								>Sí</a>
						

						</div>
					</div>
				</div>
			</div>
			<!-- HABILITAR  -->
		
	</main>


	<footer th:replace="layout/layoutHongo :: frag-footer-hongo"></footer>
<footer>
<script type="text/javascript">
function confirmEditProfile(){

	 var confirmNewPasswordSend = $("#confirmNewPasswordSend").val();
	 var newPasswordSend = $("#newPasswordSend").val();

	 var newPasswordSendStyle = document.getElementById('newPasswordSend');
	 var confirmNewPasswordSendStyle = document.getElementById('confirmNewPasswordSend');
	 var usernameSendStyle = document.getElementById('usernameSend');
	 var nombresSendStyle = document.getElementById('nombresSend');
	 var apellidosSendStyle = document.getElementById('apellidosSend');
	 var correoSendStyle = document.getElementById('correoSend');
	 
if(confirmNewPasswordSend === newPasswordSend){
	confirmNewPasswordSendStyle.style.borderColor = '#2fd8c6';
	  newPasswordSendStyle.style.borderColor = '#2fd8c6';
	  usernameSendStyle.style.borderColor = '#2fd8c6';
	  nombresSendStyle.style.borderColor = '#2fd8c6';
	  apellidosSendStyle.style.borderColor = '#2fd8c6';
	  correoSendStyle.style.borderColor = '#2fd8c6';
	 
	$('#editarPerfil').modal('show');



}else {

	function notv1(){
        notif({
			msg: "Asegurese de ingresar la misma contraseña dos veces",
			type: "error"
		   
		});
    }
	  notv1();
	  confirmNewPasswordSendStyle.style.borderColor = '#ec2d38';
	  newPasswordSendStyle.style.borderColor = '#ec2d38';
	  usernameSendStyle.style.borderColor = '#2fd8c6';
	  nombresSendStyle.style.borderColor = '#2fd8c6';
	  apellidosSendStyle.style.borderColor = '#2fd8c6';
	  correoSendStyle.style.borderColor = '#2fd8c6';
}
    
}

function sendEditProfile(){
	var formulario = document.getElementById("saveEditProfile");
	formulario.submit();


	
}


</script>
<script th:src="@{/assets/plugins/notify/js/rainbow.js}"></script>
		<script th:src="@{/assets/plugins/notify/js/sample.js}"></script>
		<script th:src="@{/assets/plugins/notify/js/jquery.growl.js}"></script>

<script type="text/javascript" th:src="@{/assets/plugins/notify/js/notifIt.js}"> </script>

</footer>
</body>
</html>