<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: frag-head">
<meta charset="UTF-8" />
</head>

<body class="d-flex flex-column">
	<header th:replace="layout/layout :: frag-header"> </header>

	<!--CONTENIDO-->
	<main>
		<div class=" main-container">
			<div th:replace="layout/layout :: frag-left-bar"></div>
			
			
			
			
			<div class="right-section">
				<div class="title-dashboard">
					<h1>¡Te damos la bienvenida a StartUp Invest!</h1>
				</div>

				
<div th:replace="layout/layout :: frag-search"></div>



				<div class="filter-startups">
					<div class="popular-startups">
						<div class="title">
							<h5>Las Startups más populares</h5>
						</div>
						<div class="popular-startups-cards">
							<a href="#">
								<div class=" card-portafolio startups-cards"
									style="width: 13rem; height: 6em; color: #0085B6;"
									th:each="startup:${startupsMostPopular}">
									<div class="img-startup-portafolio">
										<img th:src="@{'/images/startups/'+${startup.image}}">
									</div>

									<div class="text-startup-portafolio popular-text-startup">
										<div class="place">
											<p th:text="${startup.position}+'°'">posición</p>
										</div>
										<div class="name">
											<p class="card-text" th:text="${startup.name}">Nanovida</p>
										</div>
										<div class="total-invest">
											<p th:text="'$'+${startup.amounthTotalInvest}"
												style="font-size: 14px;">Monto invertido</p>
										</div>
									</div>
								</div>
							</a>

						</div>
					</div>

					<div class="popular-startups">
						<div class="title">
							<h5>Las Startups más recientes</h5>
						</div>
						<div class="popular-startups-cards">
							<a href="#">
								<div class=" card-portafolio startups-cards"
									style="width: 13rem; height: 6em; color: #0085B6;"
									th:each="startup:${startupsRecently}">
									<div class="img-startup-portafolio">
										<img th:src="@{'/images/startups/'+${startup.image}}" class=""
											alt="...">
									</div>
									<div class="text-startup-portafolio popular-text-startup">
										<div class="place">
											<p th:text="${startup.position} +'°'">position</p>
										</div>
										<div class="name">
											<p class="card-text" th:text="${startup.name}">Nanovida</p>
										</div>
										<div class="total-invest" style="font-size: 14px;"
											th:text="'$'+${startup.amounthTotalInvest}">
											<p>Monto invertido/p>
										</div>
									</div>
								</div>
							</a>

						</div>
					</div>
				</div>

				<div class="popular-startups">
					<div class="title">
						<h5>Más Startups</h5>
					</div>

					<!--Tarjeta de startups-->
					<div class="list-startups">


						<div class="list-card-startup" th:each="startup :${moreStartups}">
							<div class="img-list-card-startup">
								<img th:src="@{'/images/startups/'+${startup.image}}" />
							</div>
							<div id="barra"></div>


							<div class="card-body-startup">
								<h5 class="card-title" th:text=${startup.name}>startup</h5>
								<div class="boton-card">
									<a href="#!" class="btn " style="width: 100%;">Conócenos</a>
								</div>
							</div>
						</div>


					</div>

				</div>

			</div>
	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>



</body>

</html>