<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: frag-head">
<meta charset="UTF-8" />
</head>

<body class="d-flex flex-column">
	<header th:replace="layout/layout :: frag-header"> </header>

	<!--CONTENIDO-->
	<main>
		<div class=" main-container">
			<div class="left-section position-fixed">
				<div class="top-section">
					<div class="imagen-perfil">
						<img
							th:src="@{/dashboard-investor/Bootstrap/img/testimonial-2.jpg}"
							alt="Imagen de perfil">
					</div>
					<div class="name-perfil">
						<p id="nombreUsuario">Claudia Rodriguez</p>
					</div>
				</div>
				<div class="middle-section">

					<div class="main-options">
						<div class="option-inicio">
							<div class="line-decorate"></div>
							<a href="#">
								<p>Inicio</p>
							</a>
						</div>

						<div class="option-inicio">
							<div class="line-decorate"></div>
							<a href="#">
								<p>Mi perfil</p>
							</a>
						</div>


					</div>
				</div>

				<div class="bottom-section">

					<div class="box-portafolio">

						<div class="title-portafolio">
							<p>Mi portafolio</p>
						</div>


						<div class=" card-portafolio" style="width: 14rem;">
							<div class="text-startup-portafolio">
								<p class="card-text">Startups</p>
								<p class="card-text">Invertido</p>
							</div>
						</div>



						<a href="#">
							<div class=" card-portafolio" style="width: 14rem;">
								<div class="img-startup-portafolio">
									<img th:src="@{/dashboard-investor/Bootstrap/img/Nanovida.jpg}"
										class=""
										style="height: 80%; width: 2.5rem; border-radius: 100%; margin-left: 1rem;"
										alt="...">
								</div>
								<div class="text-startup-portafolio">
									<p class="card-text" style="color: green;">3,000.00$</p>
								</div>
							</div>
						</a> <a href="#">
							<div class=" card-portafolio" style="width: 14rem;">
								<div class="img-startup-portafolio">
									<img th:src="@{/dashboard-investor/Bootstrap/img/kambista.png}"
										class=""
										style="height: 80%; width: 2.5rem; border-radius: 100%; margin-left: 1rem;"
										alt="...">
								</div>
								<div class="text-startup-portafolio">
									<p class="card-text" style="color: green;">1,000.00$</p>
								</div>
							</div>
						</a>


					</div>




				</div>
			</div>
			<div class="right-section">
				<div class="title-dashboard">
					<h1>¡Te damos la bienvenida a StartUp Invest!</h1>
				</div>

				<div class="search-dashboard">
					<div class="center-search">
						<div class="input-group">
							<input type="search" class="form-control rounded"
								placeholder="Busca una startup..." aria-label="Search"
								aria-describedby="search-addon" />
							<button type="button" class="btn btn-outline-primary">Search</button>



							<div>
								<button type="button" class="icon-filter btn btn-primary "
									data-toggle="modal" data-target="#exampleModal"
									data-whatever="@mdo"
									style="background-color: #0dcaf0; border-color: #0dcaf0;">
									<i class="icon-cog fa-1x fas fa-funnel-dollar "></i>
								</button>

							</div>

							<div class="modal fade" id="exampleModal" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Filtro</h5>
											<button type="button" class="btn btn-danger"
												data-dismiss="modal">Cerrar</button>
										</div>
										<div class="modal-body">
											<form>
												<div class="form-group">
													<label for="recipient-name" class="col-form-label">
														<b>Sector de Startup</b>
													</label> <select class="form-select"
														aria-label="Default select example">
														<option th:each="category :${categories}"
															th:text="${category.name}">One</option>

													</select>

												</div>
												<div class="form-group">
													<label for="message-text" class="col-form-label"><b>Tiempo
															en funcionamiento</b></label> <br> Inicio <input type="text"
														autocomplete="off" name="birthday"
														placeholder="Fecha inicio..." value="" /> Fin <input
														type="text" autocomplete="off" name="birthday"
														placeholder="Fecha fin..." value="" />

												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" id="btnApply">Aplicar filtro</button>
										</div>



									</div>
								</div>
							</div>


						</div>
					</div>
				</div>




				<div class="filter-startups">
					<div class="popular-startups">
						<div class="title">
							<h5>Las Startups más populares</h5>
						</div>
						<div class="popular-startups-cards">
							<a href="#">
								<div class=" card-portafolio startups-cards"
									style="width: 13rem; height: 6em; color: #0085B6;"
									th:each="startup:${startupsMostPopular}">
									<div class="img-startup-portafolio">
										<img th:src="@{'/images/'+'startups/'+${startup.image}}">
									</div>

									<div class="text-startup-portafolio popular-text-startup">
										<div class="place">
											<p th:text="${startup.position}+'°'">posición</p>
										</div>
										<div class="name">
											<p class="card-text" th:text="${startup.name}">Nanovida</p>
										</div>
										<div class="total-invest">
											<p th:text="'$'+${startup.amounthTotalInvest}" style="font-size: 14px;" >Monto
												invertido</p>
										</div>
									</div>
								</div>
							</a>

						</div>
					</div>

					<div class="popular-startups">
						<div class="title">
							<h5>Las Startups más recientes</h5>
						</div>
						<div class="popular-startups-cards">
							<a href="#">
								<div class=" card-portafolio startups-cards"
									style="width: 13rem; height: 6em; color: #0085B6;"
									th:each="startup:${startupsRecently}">
									<div class="img-startup-portafolio">
										<img
											th:src="@{/dashboard-investor/Bootstrap/img/Nanovida.jpg}"
											class="" alt="...">
									</div>
									<div class="text-startup-portafolio popular-text-startup">
										<div class="place">
											<p th:text="${startup.position} +'°'">position</p>
										</div>
										<div class="name">
											<p class="card-text" th:text="${startup.name}">Nanovida</p>
										</div>
										<div class="total-invest" style="font-size: 14px;"
											th:text="'$'+${startup.amounthTotalInvest}">
											<p>Monto invertido/p>
										</div>
									</div>
								</div>
							</a>

						</div>
					</div>
				</div>

				<div class="popular-startups">
					<div class="title">
						<h5>Más Startups</h5>
					</div>

					<!--Tarjeta de startups-->
					<div class="list-startups">


						<div class="list-card-startup">
							<div class="img-list-card-startup">
								<img th:src="@{/dashboard-investor/Bootstrap/img/kambista.png}" />
							</div>
							<div id="barra"></div>
							
							
							<div class="card-body-startup">
								<h5 class="card-title">Kambista</h5>
								<div class="boton-card">
									<a href="#!" class="btn " style="width: 100%;">Conócenos</a>
								</div>
							</div>
						</div>

						<div class="list-card-startup">
							<div class="img-list-card-startup">
								<img th:src="@{/dashboard-investor/Bootstrap/img/Nanovida.jpg}" />
							</div>
							<div class="card-body-startup">
								<h5 class="card-title">Nanovida</h5>
								<div class="boton-card">
									<a href="#" class="btn " style="width: 100%;">Conócenos</a>
								</div>
							</div>
						</div>


					</div>

				</div>

			</div>
	</main>
	<footer th:replace="layout/layout :: frag-footer"> </footer>



</body>

</html>