<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: frag-head">
<meta charset="UTF-8" />
</head>
<head>
<link th:href="@{/css/administrator-plan.css}" rel="stylesheet">
</head>


<body class="d-flex flex-column">
	<header th:replace="layout/layout :: frag-header"> </header>



	<!--CONTENIDO-->
	<main>
		<header th:replace="layout/layout :: frag-left-bar-administrator">
		</header>

		<div class="right-section">
			<h1 id="titulo">Tipos de planes</h1>


			<!-- row -->
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-lg-6 col-xl-3 mt-2">
					<div class="panel price  panel-color">
						<div class=" bg-white text-center">
							<svg x="0" y="0" viewBox="0 0 360 220">
											<g>
												<path fill="#1753fc"
									d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
													c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
													s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
													L0.732,193.75z"></path>
											</g>
											<text transform="matrix(1 0 0 1 45 116.2686)" fill="#fff"
									font-size="35">gaaaaa</text>
										</svg>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong>$</strong><strong>ga</strong> <strong>/</strong> month
							</p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><strong> </strong></li>
							<li class="list-group-item"><strong> </strong></li>
							<li class="list-group-item"><strong> </strong></li>
						</ul>
						<div class="panel-footer text-center">
							<a class="btn btn-lg btn-primary btn-block">Buy Now!</a>

						</div>
					</div>
				</div>
				<!-- col-end -->
<div class="col-xs-6 col-sm-6 col-lg-6 col-xl-3 mt-2">
					<div class="panel price  panel-color">
						<div class=" bg-white text-center">
							<svg x="0" y="0" viewBox="0 0 360 220">
											<g>
												<path fill="#1753fc"
									d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
													c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
													s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
													L0.732,193.75z"></path>
											</g>
											<text transform="matrix(1 0 0 1 45 116.2686)" fill="#fff"
									font-size="35">gaaaaa</text>
										</svg>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong>$</strong><strong>ga</strong> <strong>/</strong> month
							</p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><strong> </strong></li>
							<li class="list-group-item"><strong> </strong></li>
							<li class="list-group-item"><strong> </strong></li>
						</ul>
						<div class="panel-footer text-center">
							<a class="btn btn-lg btn-primary btn-block">Buy Now!</a>

						</div>
					</div>
				</div><div class="col-xs-6 col-sm-6 col-lg-6 col-xl-3 mt-2">
					<div class="panel price  panel-color">
						<div class=" bg-white text-center">
							<svg x="0" y="0" viewBox="0 0 360 220">
											<g>
												<path fill="#1753fc"
									d="M0.732,193.75c0,0,29.706,28.572,43.736-4.512c12.976-30.599,37.005-27.589,44.983-7.061
													c8.09,20.815,22.83,41.034,48.324,27.781c21.875-11.372,46.499,4.066,49.155,5.591c6.242,3.586,28.729,7.626,38.246-14.243
													s27.202-37.185,46.917-8.488c19.715,28.693,38.687,13.116,46.502,4.832c7.817-8.282,27.386-15.906,41.405,6.294V0H0.48
													L0.732,193.75z"></path>
											</g>
											<text transform="matrix(1 0 0 1 45 116.2686)" fill="#fff"
									font-size="35">gaaaaa</text>
										</svg>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong>$</strong><strong>ga</strong> <strong>/</strong> month
							</p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><strong>ga </strong></li>
							<li class="list-group-item"><strong>ga </strong></li>
							<li class="list-group-item"><strong>ga </strong></li>
						</ul>
						<div class="panel-footer text-center">
						<a class="btn btn-lg btn-primary btn-block">Editar</a>
							<a class="btn btn-lg btn-primary btn-block">Deshabilitar</a>
							

						</div>
					</div>
				</div>
				<!-- col-end -->
			</div>
			<!-- row end -->




		</div>


	</main>



	<footer th:replace="layout/layout :: frag-footer"></footer>


</body>

</html>