<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="Hogo– Creative Admin Multipurpose Responsive Bootstrap4 Dashboard HTML Template" name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="html admin template, bootstrap admin template premium, premium responsive admin template, admin dashboard template bootstrap, bootstrap simple admin template premium, web admin template, bootstrap admin template, premium admin template html5, best bootstrap admin template, premium admin panel template, admin template"/>

		<!-- Favicon -->
		<link rel="icon" th:href="@{/assets/images/brand/favicon.ico}" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/brand/favicon.ico}" />

		<!-- Title -->
		<title>Startup Invest</title>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}">

		<!-- Dashboard css -->
		<link th:href="@{/assets/css-dark/style.css}" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}" rel="stylesheet" />

		<!-- Horizontal-menu css -->
		<link th:href="@{/assets/plugins/horizontal-menu/dark-horizontalmenu.css}" rel="stylesheet">

		<!--Daterangepicker css-->
		<link th:href="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet" />

		<!-- Sidebar Accordions css -->
		<link th:href="@{/assets/plugins/accordion1/css/dark-easy-responsive-tabs.css}" rel="stylesheet">

		<!-- Rightsidebar css -->
		<link th:href="@{/assets/plugins/sidebar/dark-sidebar.css}" rel="stylesheet">

		<!---Font icons css-->
		<link th:href="@{/assets/plugins/iconfonts/plugin.css}" rel="stylesheet" />
		<link th:href="@{/assets/plugins/iconfonts/icons.css}" rel="stylesheet" />
		<link  th:href="@{/assets/fonts/fonts/font-awesome.min.css}" rel="stylesheet">

	</head>
	<body class="bg-account">
	    <!-- page -->
		<div class="page">

			<!-- page-content -->
			<div class="page-content">
				<div class="container text-center text-dark">
					<div class="display-1  text-dark mb-5">500</div>
					<p class="h5 font-weight-normal mb-7 leading-normal">Internal Server Error...</p>
					<a class="btn btn-primary  mb-5" th:href="@{/startupinvest/home}">
						Back To Home
					</a>
				</div>
			</div>
			<!-- page-content end -->
		</div>
		<!-- page End-->

		<!-- Jquery js-->
		<script th:src="@{/assets/js-dark/vendors/jquery-3.2.1.min.js}"></script>

		<!--Bootstrap.min js-->
		<script th:src="@{/assets/plugins/bootstrap/popper.min.js}"></script>
		<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>

		<!--Jquery Sparkline js-->
		<script th:src="@{/assets/js-dark/vendors/jquery.sparkline.min.js}"></script>

		<!-- Chart Circle js-->
		<script th:src="@{/assets/js-dark/vendors/circle-progress.min.js}"></script>

		<!-- Star Rating js-->
		<script th:src="@{/assets/plugins/rating/jquery.rating-stars.js}"></script>

		<!-- Sidebar Accordions js -->
		<script th:src="@{/assets/plugins/accordion1/js/easyResponsiveTabs.js}"></script>

		<!--Moment js-->
		<script th:src="@{/assets/plugins/moment/moment.min.js}"></script>

		<!-- Daterangepicker js-->
		<script th:src="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>

		<!-- Custom scroll bar js-->
		<script th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js}"></script>

		<!-- Custom js-->
		<script th:src="@{/assets/js-dark/custom.js}"></script>

	</body>
</html>