<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	th:href="@{/dashboard-investor/Bootstrap/css/bootstrap.css}" />
<link
	th:href="@{/dashboard-investor/Bootstrap/img/Logo_StartupInvest.png}"
	rel="icon">
<link rel="stylesheet"
	th:href="@{/dashboard-investor/Bootstrap/css/Dashboard-investor.css}" />
<link rel="stylesheet" th:href="@{/css/startup-startup-view.css}">
<!-- Nuevos estilos -->
<link rel="stylesheet" th:href="@{/css/publication.css}">
<!--Font-Awsome-->

<link rel="stylesheet"
	th:href="@{/dashboard-investor/Bootstrap/css/all.css}">

<link th:href="@{/dashboard-investor/Bootstrap/css/fontawesome.css}"
	rel="stylesheet">
<link th:href="@{/dashboard-investor/Bootstrap/css/brands.css}"
	rel="stylesheet">
<link th:href="@{/dashboard-investor/Bootstrap/css/solid.css}"
	rel="stylesheet">
<link rel="stylesheet" type="text/css"
	th:href="@{https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css}" />

<script defer th:src="@{/your-path-to-fontawesome/js/brands.js}"></script>
<script defer th:src="@{/your-path-to-fontawesome/js/solid.js}"></script>
<script defer th:src="@{/your-path-to-fontawesome/js/fontawesome.js}"></script>

<title>StartupInvest | Dashboards</title>
</head>

<body class="d-flex flex-column">
	<header th:replace="layout/layout :: frag-header"> </header>

	<main>

		<!-- Portada -->
		<div class="portada">
			<div class="imagen-portada">
				<img th:src="@{/images/general/portada.jpg}" alt="">
			</div>

			<div class="imagen-logo">
				<img th:src="@{'/images/startups/'+${imgname}}" alt="">
			</div>

			<div class="imagen-arrow">
				<a
					th:href="@{'/startupinvest/startups/'+${idStartup}+'/view/profile'}">
					<img
					th:src="@{/dashboard-investor/Bootstrap/img/arrow-back-3783.png}"
					alt="">
				</a>
			</div>
		</div>
		<input th:value="${idStartup}" hidden="true" id="idStartupSend">

		<div class="box-sector-novedades">
			<div class="sector-novedades">
				<div class="titulo">
					<h2 th:text="'Novedades de '+${name}">Kambista</h2>
				</div>

				<div id="box-addPublication">
					<button data-toggle="modal" id="addPublication" type="button"
						class="btn btn-info" data-target="#modal-add-publication"
						th:onclick="'javascript:confirmNewpublication();'">Agregar
						publicación</button>
				</div>
				<div class="box-novedades">

					<div id="box-novedad" th:each="publication:${publications}">
						<label id="datePublished" th:text=${publication.date}>2019-09-21</label>
						<div id="box-novedad-content">
							<div id="title-and-description">
								<label id="title" th:text=${publication.name}>Usuarios
									podrán cambiar dinero y crear una cuenta bancaria 100% digital
									desde Kambista</label><label id="descripcion"
									th:text="${publication.description}">Interbank y
									Kambista firman alianza estratégica para seguir reforzando los
									servicios financieros...</label>
							</div>
							<img th:src="@{'/images/startups/'+${imgname}}">
						</div>
						<div id="buttons-publication">
							<button id="editPublication" data-toggle="modal"
								th:data-target="'#modal-edit-publication'" type="button"
								class="btn btn-info"
								th:onclick="'javascript:confirmEdit(\''+ ${publication.id} +'\');'">Editar</button>
							<button data-toggle="modal"
								th:data-target="'#modal-delete-publication'+${publication.id}"
								id="deletePublication" type="button" class="btn btn-info">Eliminar</button>
						</div>

						<!-- Modal para eliminar una publicación -->
						<div class="modal fade"
							th:id="'modal-delete-publication'+${publication.id}"
							tabindex="-1" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Eliminar
											una publicación</h5>
									</div>
									<div id="text-body-delete-publication" class="modal-body">
										<label>¿Seguro que desea eliminar la publicación?</label>
									</div>


									<div class="modal-footer">

										<div id="buttons-publication">
											<button id="deletePublication" type="button"
												class="btn btn-info" data-dismiss="modal">Cancelar</button>
											<button id="editPublication"
												th:onclick="|window.location.href ='/startupinvest/publications/${publication.startup.id}/${publication.id}/del'|"
												type="button" class="btn btn-info">Confirmar</button>

										</div>

									</div>
								</div>
							</div>
						</div>
						<!-- Modal para eliminar una publicación -->
						
						<input th:id="*{'publicationIdSend'+{publication.id}}"
							th:value="${publication.id}" placeholder="título" hidden="true" type="text"
							class="form-control"> <input
							th:id="*{'publicationNameSend'+{publication.id}}"
							th:value="${publication.name}" placeholder="título" hidden="true" type="text"
							class="form-control">
						<textarea th:id="*{'publicationDescriptionSend'+{publication.id}}"
							th:text="${publication.description}" hidden="true"
							th:value="${publication.description}" placeholder="título"
							type="text" class="form-control"></textarea>
						<input th:id="*{'publicationUrlSend'+{publication.id}}" hidden="true"
							th:value="${publication.url}" placeholder="título" type="text"
							class="form-control"> 

					</div>

				</div>
			</div>
		</div>





		<!-- Modal para agregar una publicación -->
		<div class="modal fade" id="modal-add-publication" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<form method="post"
					th:action="@{/startupinvest/publications/newPublication}"
					th:object="${newPublication}" class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Realiza tu
							publicación</h5>
					</div>
					<div id="text-body-delete-publication" class="modal-body">
						<label>Título</label> <input placeholder="título" type="text"
							class="form-control" th:field="*{name}"> <label>Descripción</label>
						<textarea placeholder="Breve descripción" maxlength="161"
							type="text" class="form-control" th:field="*{description}"></textarea>
						<label>Link</label> <input placeholder="url" type="url"
							class="form-control" th:field="*{url}"> <input
							hidden="true" id="startupIdCreate" placeholder="url"
							type="number" class="form-control" th:field="*{startup}">

					</div>


					<div class="modal-footer">

						<div id="buttons-publication">
							<button id="deletePublication" type="button" class="btn btn-info"
								data-dismiss="modal">Cancelar</button>
							<button id="editPublication" type="submit" class="btn btn-info">Confirmar</button>

						</div>

					</div>
				</form>
			</div>
		</div>
		<!-- Modal para agregar una publicación -->



		<!-- Modal para editar una publicación -->
		<div class="modal fade" id="modal-edit-publication" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<form method="post" th:action="@{/startupinvest/publications/edit}"
					th:object="${editPublication}" class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Actualiza tu
							publicación</h5>
					</div>
					<div id="text-body-delete-publication" class="modal-body">
						<label hidden="true">ID</label> <input hidden="true" id="publicationIdCreate"
							placeholder="título" type="text" class="form-control"
							th:field="*{id}"> <label>Título</label> <input
							id="publicationNameCreate" placeholder="título" type="text"
							class="form-control" th:field="*{name}"> <label>Descripción</label>
						<textarea placeholder="Breve descripción" maxlength="161"
							type="text" id="publicationDescriptionCreate"
							class="form-control" th:field="*{description}"></textarea>

						
							<label>Link</label> 
							<input id="publicationUrlCreate" placeholder="url" type="url"
							class="form-control" th:field="*{url}"> 
							<input hidden="true" id="startupIdCreate1" placeholder="startupId" type="number"
							class="form-control" th:field="*{startup}">

					</div>


					<div class="modal-footer">

						<div id="buttons-publication">
							<button id="deletePublication" type="button" class="btn btn-info"
								data-dismiss="modal">Cancelar</button>
							<button id="editPublication" type="submit" class="btn btn-info">Actualizar</button>

						</div>

					</div>
				</form>
			</div>
		</div>
		<!-- Modal para editar una publicación -->




	</main>

	<footer> </footer>

	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script src="Bootstrap/js/bootstrap.min.js"></script>


	<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>


	<script type="text/javascript"
		th:src="@{https://cdn.jsdelivr.net/jquery/latest/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{https://cdn.jsdelivr.net/momentjs/latest/moment.min.js}"></script>
	<script type="text/javascript"
		th:src="@{https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js}"></script>

	<script th:src="@{/dashboard-investor/Bootstrap/js/bootstrap.min.js}"></script>

	<script type="text/javascript"></script>



	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


	<script src="Bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	function confirmNewpublication(){

		    var idStartupSend = $("#idStartupSend").val();
		    $("#startupIdCreate").val(idStartupSend);
	}

	function confirmEdit(id){

	    var idStartupSend = $("#idStartupSend").val();
	    $("#startupIdCreate1").val(idStartupSend);

	    var publicationIdSend  = $("#publicationIdSend"+id).val();
	    $("#publicationIdCreate").val(publicationIdSend);

	    var publicationNameSend = $("#publicationNameSend"+id).val();
	    $("#publicationNameCreate").val(publicationNameSend);

	    var publicationDescriptionSend = $("#publicationDescriptionSend"+id).val();
	    $("#publicationDescriptionCreate").val(publicationDescriptionSend);

	    var publicationUrlSend = $("#publicationUrlSend"+id).val();
	    $("#publicationUrlCreate").val(publicationUrlSend);

}

	</script>



</body>


</html>