<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="frag-header">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="ISO-8859-1">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">
<link th:href="@{/css/solid.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">

<title>StartupInvest</title>
</head>
<body>




	<footer th:fragment="frag-footer">
		<script th:src="@{/index/lib/jquery/jquery.min.js}"></script>
		<script th:src="@{/index/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/index/lib/jquery/jquery-migrate.min.js}"></script>
		<script th:src="@{/index/lib/easing/easing.min.js}"></script>
		<script th:src="@{/index/lib/mobile-nav/mobile-nav.js}"></script>
		<script th:src="@{/index/lib/wow/wow.min.js}"></script>
		<script th:src="@{/index/lib/waypoints/waypoints.min.js}"></script>
		<script th:src="@{/index/lib/counterup/counterup.min.js}"></script>
		<script th:src="@{/index/lib/owlcarousel/owl.carousel.min.js}"></script>
		<script th:src="@{/index/lib/isotope/isotope.pkgd.min.js}"></script>
		<script th:src="@{/index/lib/lightbox/js/lightbox.min.js}"></script>
		<!-- Contact Form JavaScript File -->
		<script th:src="@{/index/contactform/contactform.js}"></script>

		<!-- Template Main Javascript File -->
		<script th:src="@{/index/js/main.js}"></script>
	</footer>

</body>
</html>